.OddFamily {
    background-color: #FFB6C1;
    font-family: 'Verdana','DejaVu Sans',sans-serif;
}

#EvenFamilyOne {
    color: hsl(240, 100%, 50%);
    font-size: 36px;
}

#EvenFamilyTwo {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}

.font-adjust {
    font-size: 24px;
}

