#button-one {
    background-color: black;
    color: white;
}

#button-two {
    background-color: yellow;
}

.font-class {
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman', sans-serif;
}